<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE-edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load i18n %} {% load static %}
  <link rel="stylesheet" href="{% static 'auth/auth.css' %}" />
  <link rel="stylesheet" href="{% static 'auth/register.css' %}" />
  <script src="{% static 'countries.js' %}"></script>
  <title>{% trans "Register" %}</title>
</head>

<body>



  <div class="content">
    <div class="ansar-logo"></div>
    <div class="form-box login">
      <p id="error-messages">{{msg}}</p>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-box">

          <input type="text" name="fname" id="fname" placeholder="{% trans 'First Name'%}" />

          <input type="text" name="lname" id="lname" placeholder="{% trans 'Last Name'%}" />

          <input type="text" name="username" id="username" required placeholder="{% trans 'Username'%}" />

          <input type="email" name="email" id="email" required placeholder="{% trans 'Email'%}" />

          <select name="country" id="country" required>
            <option value="" disabled selected>{% trans 'Country' %}</option>

          </select>

          <input type="password" name="password" id="password" required placeholder="{% trans 'Password'%}" />
        </div>

        <button type="submit" class="btn">{% trans "Sign up" %}</button>
        <div class="login-register">
          <p>
            {% trans "Already have an account ?"%}
            <a href="{% url 'sign-in' %}" class="login-link">{% trans "Sign in"%}</a>
          </p>
        </div>
      </form>
    </div>
  </div>

  <div class="background"></div>

</body>

</html>